/*
    Variables
*/
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1600px;

$blue-vlight: #f6f9f9;
$green: #30b55e;
$grey: #959a9e;
$grey-vdark: #111111;

$white: #fff;
$black: #000;

$font-family: Helvetica, Arial, sans-serif;
